<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-2022-CN">
    <title>Mid</title>
</head>
<body>
<h2>All Subjects</h2>

<div align="center">
    <a th:href="@{subjects}">Subjects</a> |
    <a th:href="@{teachers}">Teachers</a>
</div>

<ul>
    <li th:each="subject: ${subjects}">
        <span th:text="${subject.name}"></span> -
        <span th:text="${subject.credit}"></span> credit
    </li>
</ul>

<h2>Register new subject</h2>
<form th:action="@{/register}" method="post" th:object="${newsubject}">
    <input type="text" th:field="*{name}">
    <input type="number" th:field="*{credit}">
    <button type="submit">Register</button>
</form>
</body>
</html>