<html>
<head>
    <meta charset="ISO-2022-CN">
    <title>Mid</title>
</head>
<body>
<h2>Successfully added</h2>

<div align="center">
    <a th:href="@{subjects}">Subjects</a> |
    <a th:href="@{teachers}">Teachers</a>
</div>
</body>
</html>